* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (min-width: 767px) {
    .image-right, .image-left{
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .image-left, .image-right {
        flex-direction: column;
    }
    .image-left img, .image-right img {
        margin : 20px;
    }
}

body {
    background-color: #edd8ad;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header,
footer {
    background-color: #473020;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    flex: 1;
    padding: 40px;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sobre-referencia,
.sobre-fontes {
    margin-bottom: 20px;
    padding: 20px;
    background-color: darkgray;
    border-radius: 10px;
    font-size: large;
}

#sobre-texto {
    margin-bottom: 20px;
    padding: 20px;
    background-color: darkgray;
    border-radius: 10px;
    font-size: large;
}
.alerta {
    color: red;
    font-weight: bolder;
}

.anchor-link {
    color: #edd8ad;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 20px;

}

.image-left, .image-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.image-left img {
    margin-right: 10px;
}

.image-right img {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

#inferno-background {
    background-color: black;
}

div {
    justify-content: center;
}

p,
li {
    padding: 20px;
    width: 100%;
    font-size: xx-large;
}

ol,
ul {
    padding-left: 30px;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}